.backgroundpic{
	background-image: url("../html/img/map.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

}


@font-face{
	font-family: "Fontim";
	src: url(magic.woff);
}



.lang_title{
	font-family: "Fontim";
	text-shadow: 10px 10px 10px #B2C9D5;
	font-size: 34px;
	text-align: center;
}

@keyframes animacioni{
	0% {background:#527486;}
	
	50% {background: #9BBACB;}

	100% {background: #C7D4DA;}
}

.trans3d{
	height:30px;
	width:40px;
	background-color: #9BBACB;
	-webkit-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
  font-family: "Georgia";
  color: #656D72;
  font-size: 12px;
  text-align: center;

}


.lang_list{
	height: 30px;
	border: 0;
	border-radius: 5px;
	margin: 20px;
	/*background: linear-gradient(#527486,#9BBACB,#C7D4DA);*/
	
	animation: animacioni 2s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		animation-play-state: running;
		animation-timing-function: linear;




	}

	.resource-list{
		font-family: "Fontim";
		font-size: 34px;
		line-height: 1.2;
	}

	li {
  display: list-item;
  list-style-position: inside;
}

.introduction{
	margin-left: 20px;
	font-family: "Georgia";
	font-size: 15px;
	color: #404345  ;
	}

