body {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    background-color: #ececec;
    //font-family: sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
    background-color: #1a292c;
}

.search-input {
    position: relative;
    display: flex;
}

.contact-info {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(162, 164, 164);
    line-height: 1.6;
    text-align: left;
    margin: 0;
    color: gray;
}

.table {
    background-color: #2d3e45;
    min-height: 300px;
    padding: 15px 150px 0 150px;
}

table {
    width: 100%;
}

.route-links {
    padding-top: 9px;
    width: 100px;
    font-size: 14px;
    text-align: left;
}


.route-links:first-child {
    width: max-content;
    padding-top: 0;
    text-align: left;
    font-size: 16px;
}


.feather {
    position: absolute;
    top: calc(50% - 8px);
    right: 5px;
}


h2 {
    margin: 0;
    display: inline;
    font-weight: 400;
}

::placeholder {
    color: white;
}

.input {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color: #33444b;
    min-width: 200px;
    outline: none;
    color: white;
}


a {
    text-decoration: none;
    color: white;
}

.homepage {
    position: absolute;
    background-color: white;
    top: 120px;
    left: 100px;
    right: 100px;
    border-radius: 3px;
}


.photosection {
    background-image: url("../html/img/language.jpg");
    background-size: cover;
    margin: 10px 10px 0 10px;
    height: 400px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.short_title {
    background-color: rgb(28, 44, 50);
    border-top: solid 5px #495b61;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 10px;
    color: white;
}

.black {
    position: absolute;
    background-color: #0a0a0aa3;
    border-radius: 2px;
    width: 400px;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
}

.textdeco {
    font-family: "georgia";
    color: white;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 22px;
    line-height: 1.2;
    left: 611.812px;
    top: 265.203px;
    font-style: oblique;
}

.textdeco1 {
    margin: 10px 0 50px 0;
    color: gray;
    word-break: break-word;
}

.buttondeco {
    background-color: #202d31;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px;
    border-color: rgb(70, 92, 99);
    position: absolute;
    bottom: 20px;
    right: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0.2px white;
}

.buttondeco:active {
    box-shadow: 0px 0px 2px 0.5px white;
}

.click-to-slide-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.click-to-slide {
    display: flex;
    align-items: center;
}

.feather1 {
    border: solid 1px #131b1c;
    border-radius: 50%;
    padding: 2px;
    background-color: #131b1c;
    margin-right: 5px;
}

.quick-links {
    color: #52595c;
}

li {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(70, 90, 99);
    line-height: 1.6;
    display: flex;
    align-items: center;
}

h4 {
    padding: 8px 0;
    font-style: oblique;
    font-size: 14px;
    font-family: "Georgia";
    color: rgb(70, 92, 99);
    line-height: 1.2;
    font-weight: 400;
    border-bottom: solid 1px black;
    margin: 10px 0 20px 0;
    text-align: left;
}
.item1 {
    grid-area: menu;
}

.item2 {
    grid-area: main;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto;
    border-bottom: solid 2px lightgray;
}

.item3 {
    grid-area: right;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    padding: 0 !important;
}

.item4 {
    grid-area: footer;
    display: flex;
    align-items: center;
    background-color: #efeeee;
    border-radius: 5px;
    padding: 15px !important;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'menu main'
        'menu right'
        'menu footer';
    grid-gap: 10px;
    grid-column-gap: 30px;
    padding: 10px;
}


.grid-container>div {
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.textinfo {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(162, 164, 164);
    line-height: 1.4;
    text-align: left;

}

.foto1border1 {
    border: 1px solid rgb(215, 219, 224);
    height: 100px;

}

.titleevent {
    text-align: left;
}

.foto1border2 {
    border: 1px solid rgb(255, 255, 255);
    height: 98px;
}

.foto1border3 {
    border: 1px solid rgb(51, 51, 51);
    margin: 2px;
    background-color: rgb(51, 51, 51);
    height: 92px;

}

.Tour {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(70, 92, 99);
    text-align: left;
}


.Rugby {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(70, 92, 99);
    line-height: 1.2;
    text-align: left;
}

.twitter-icon {
    display: flex;
    align-items: center;
    border-right: solid 2px white;

}

.twitter-icon>img {
    min-width: 40px;
}

.twitter-icon>p {
    font-size: 15px;
    margin: 0 10px;
    color: #53d0fb;
    min-width: 100px;
}

.twitterdesc {
    margin: 0;
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(161, 164, 164);
    line-height: 1.4;
    text-align: left;
    padding-left: 15px;
}

.footer {
    margin-top: 20px;
    background-color: rgb(32, 49, 56);
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    margin-bottom: 5px;
    font-family: georgia;
}

.footer1 {
    padding: 10px 15px;
    display: flex;
    max-height: max-content;
    border-bottom: solid 1px rgb(70, 92, 99);
    align-items: center;
}

.footer1>p {
    margin:0;
    color: #7d8e95;
}
.bottom-footer {
    padding: 5px 15px;
    background-color: rgb(17, 28, 32);

}

.copyright {
    color: rgb(161, 161, 164);
    font-size: 14px;
    font-weight: 20;
    font-family: georgia;
}

#hidden {
    display: none;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 20px 0;
}
::-webkit-scrollbar { 
    display: none; 
}

.footer-links {
    padding: 3px 0;
    font-family: arial;
    opacity: 0.7;
    font-weight: 100;
}

.footer-list-elements {
    font-family: georgia;
    color: white;
    margin: 10px 0;
    font-weight: lighter;
}

.column {
    margin: 0 20px;
}

.footer-text {
    font-family: arial;
    opacity: 0.7;
    font-weight: 100;
    color: white;
    line-height: 1.8;
    font-size: 12.8px;
    width: 130px;
    word-wrap: break-word;
}

.thelist {

    height: 85px;
    padding-left: 10px;
    background: #1a292c;
    font: normal 17px/23px "Tahoma" , Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
   
}