/* Popup container - can be anything you want */
.signup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popuptext {
    position: fixed;
    z-index: 20;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #202b3087;
    color: #2d3e45;
    text-align: center;

}

.popupinput {
    border-width: 0px;
    border: none;
    outline: none;
    padding:2px 5px;
    color: #2f3d44;
    font-size: 16px;
    margin-left: 10px;
    background-color: #f0f0f0;
    font-weight: 600;
    font-family: museo-sans-rounded,sans-serif!important;
    flex:1;
}
.signup-button{
    border-radius:20px;
    background-color: #1f2b31;
    padding:10px 20px;
    color:white;
    font-size: 14px;
    margin:15px auto;
    width:max-content;

}

/* Toggle this class - hide and show the popup */
.signup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}